.lit{
    margin-left: 75px;
    margin-top: 10px;
    border-radius: 6px;
}
.btn123 {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 0px;
    width: 120px;
    height:40px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 75px;
    margin-top: 5px;
  }
  
  .btn123 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn123 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn123:hover span {
    padding-right: 25px;
  }
  
  .btn123:hover span:after {
    opacity: 1;
    right: 0;
  }
